:root {
  --ifm-color-primary: #ff4c4c;
  --ifm-font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --ifm-container-width: 800px;
  --ifm-container-width-xl: 1000px;
}

h1 {
  font-size: 2.5em !important;
}

.pagination-nav {
  display: none;
}
